main {
    max-width: 62.7rem;
    margin: auto;

    & > img {
        margin-top: 6rem;
        cursor: pointer;
    }

    & h1 {
        font: var(--title);
        margin-top: 1.6rem;
    }

    & .wrapper-add input,
    & .wrapper-add button {
        border: none;
        padding: 1.1rem;
        border-radius: 1.2rem;

    }

    & .wrapper-add {
        display: flex;
        gap: 1.6rem;

        margin-top: 4.4rem;
    }

    & .wrapper-add input {
        flex: 3;
        background-color: var(--bg-secondary);
        border: 2px solid var(--border-primary);

        &::placeholder {
            font-family: "Inter", sans-serif;
            font-size: 1.6rem;
            line-height: 140;
        }

        &:hover {
            border: 2px solid var(--border-hover); 
        }

        &:focus {
            border: 2px solid var(--color-brand);
        }
    }

    & .wrapper-add button {
        flex: 1;
        cursor: pointer;
        font: var(--label);
        color: var(--bg-secondary);
        background-color: var(--color-brand);

        &:hover {
            background-color: var(--color-brand-hover);
        }
    }

    & ul {
        margin-top: 4rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        & li {
            border: none;
            display: flex;
            align-items: center;
            align-content: center;
            gap: .85rem;
            padding-block: .8rem;
            padding-inline: 1.2rem;
            border-radius: 1.2rem;
            background-color: var(--bg-secondary);

            & .checked {
                width: 1.6rem;
                height: 1.6rem;
                background-color: var(--bg-secondary);
                border: 1px solid var(--border-primary);
                border-radius: .6rem;
                cursor: pointer;

                &:hover {
                    border: 1px solid var(--border-hover);
                }

            }

            & .checked-active {
                background-image: url("../assets/icons/checked.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: none;

            }

            & span {
                font: var(--paragraph);
                color: var(--content-secondary);
            }

            & img {
                margin-left: auto;
                cursor: pointer;
            }

        }
    }

    & .item-remove {
        margin-top: 3.6rem;
        border: 1px solid red;
        display: flex;
        gap: .8rem;
        align-items: center;
        align-content: center;
        padding: 1.2rem;
        border-radius: 1.2rem;

        background-color: var(--color-danger);


        & span {
            font: var(--label);
            color: #fff;
        }

        & img:last-child {
            margin-left: auto;
            cursor: pointer;
        }

    }


}


@media (max-width: 48em) {

    main {
        padding-inline: 3.2rem;

        & ul {
            & li {
                padding-block: 1.2rem;
            }
        }
    }

    main .wrapper-add {
        flex-direction: column;
    }
}

